body {
    font-family: Arial;
    background-color: aliceblue ;
    padding: 40px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}  

h3 {
    margin-top: 5px;
}
span {
    color: gray;
}

section,
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
} 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    list-style: none;
}
header li {
margin-bottom: 10px;
}
.address-icon {
    width: 16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px; 
    padding: 5px;
    vertical-align: middle;
}
.circle {
    border-radius: 50%;
}
.ptofile-picture {
    width: 173px;
   height: 190px;
   border-radius: 42%; 
}
.hobbies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.hobbies li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}
.hobbies div {
    margin-left: 20px ;
}
.hobbies p {
    color: gray;
    line-height: 1.5 ;
}
p {
    line-height: 1.5 ; 
}