body {
    font-family: Arial;
    background-color: aliceblue ;
    padding: 40px 0;
}

h2 {
    font-size: 24px;
}  

h1 {
    font-size: 36px;
}
span {
    color: gray;
}

img {

   width: 140px;
   height: 160px; 
}

section,
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
} 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header ul {
    list-style: none;
}
header li {
margin-bottom: 10px;
}
header address img {
    width: 16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px; 
    padding: 3px;
    vertical-align: middle;
}