body {
    font-family: Arial;
    background-color: aliceblue ;
   
}

h2 {
    font-size: 24px;
}  

h1 {
    font-size: 36px;
}
span {
    color: gray;
}

img {

   width: 140px;
   height: 160px; 
}

section,
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto 0 auto;
}